.home {
  &-block1 {
    width: 100%;
    position: absolute;
    top: 0;
    &-video {
      width: 100%;
    }
    &-decription {
      position: absolute;
      width: 600px;
      top: 35%;
      left: 15%;
      &-title {
        font-size: 24px;
        font-weight: 600;
        color: $color-black;
      }
      &-img {
        position: relative;
        width: 478px;
        height: 61px;
        margin: 30px 0;
      }
      &-intro {
        text-align: justify !important;
        font-size: 18px;
        // font-weight: 600;
        color: $color-black;
        line-height: 32px;
        &-hightlight {
          font-size: 22px;
          font-weight: 600;
          color: $color-primary;
        }
      }
    }
  }
  &-block2 {
    margin-top: 42vw;
    &-title {
      text-align: center;
      font-size: 20px;
      color: $color-black;
      letter-spacing: 6px;
      font-weight: 600;
      margin-bottom: 40px;
    }
    &-group {
      margin: 0 15%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-img {
        position: relative;
        height: 45px;
        width: 185px;
      }
    }
  }
  &-block3 {
    margin-top: 60px;
    &-title {
      text-align: center;
      margin-bottom: 20px;
      &-1 {
        font-size: 30px;
        font-weight: 600;
        color: $color-black;
      }
      &-2 {
        font-size: 30px;
        font-weight: 600;
        color: $color-primary;
        margin-left: 10px;
      }
    }
    &-description {
      text-align: center;
      width: 40%;
      margin: 0 auto 60px auto;
    }
    &-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 15%;
      &-item {
        width: 360px;
        // height: 500px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border-radius: 10px;
        padding: 30px 30px 0 30px;
        &-logo {
          position: relative;
          height: 108.5px;
          width: 94.5px;
        }
        &-description {
          margin-top: 30px;
          font-size: 14px;
          font-weight: 500;
          color: $color-grey-dark;
        }
        &-title {
          margin-top: 10px;
          font-size: 24px;
          font-weight: 600;
          color: $color-primary;
          margin-bottom: 0px;
        }
        &-content {
          margin-top: 5px;
          font-size: 14px;
          font-weight: 300;
          color: $color-black;
          line-height: 28px;
          text-align: justify;
          margin-bottom: 30px;
        }
        &-btn {
          text-align: center;
          background-color: $color-primary;
          width: 200px;
          margin: 0 auto;
          padding: 5px;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          color: $color-white;
          &:hover {
            cursor: pointer;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
              rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          }
        }
      }
    }
  }
  &-block4 {
    margin-top: 80px;
    background-image: url("/image/home_page/background_block_4.png"); /* The image used */
    height: 90.45vw; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    &-title {
      padding-top: 50px;
      width: 1000px;
      margin: 0 auto;
      &-content {
        font-size: 16px;
        font-weight: 300;
        color: $color-black;
        line-height: 28px;
        margin-top: 10px;
        &-hightlight1 {
          font-size: 20px;
          font-weight: 600;
          color: $color-primary;
        }
        &-hightlight2 {
          font-size: 20px;
          font-weight: 600;
          color: $color-black;
        }
      }
    }
    &-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 20px 15%;
      &-img {
        position: relative;
        height: 320px;
        width: 435px;
      }
      &-content {
        max-width: 45%;
        &-title {
          font-size: 26px;
          font-weight: 600;
          color: $color-primary;
        }
        &-body {
          font-size: 16px;
          font-weight: 300;
          color: $color-black;
          text-align: justify;
          line-height: 30px;
          margin-top: 20px;
        }
      }
    }
  }
  &-block5 {
    background-image: url("/image/home_page/block5.png"); /* The image used */
    height: 16.78vw; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    &-main {
      // max-width: 800px;
      display: flex;
      justify-content: center;
      margin-left: 15%;
      margin-right: 15%;
      padding-top: 5vw;
      &-icon {
        font-size: 22px;
        color: $color-white;
        margin: 0 20px;
        &-2 {
          font-size: 22px;
          color: $color-white;
          // margin: 0 20px;
          padding-top: 80px;
        }
      }
      &-text {
        font-size: 46px;
        font-weight: 800;
        color: $color-white;
        letter-spacing: 5px;
        font-family: "Beau Rivage", cursive;
        text-align: justify;
      }
    }
    &-sign {
      margin: 10px 15% 0 15%;
      text-align: right;
      font-size: 24px;
      font-weight: 300;
      color: $color-white;
    }
  }
  &-block6 {
    background-image: url("/image/home_page/block6.png"); /* The image used */
    height: 14.78vw;
    margin: 150px 15%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &-main {
      display: flex;
      align-items: center;
      &-logo {
        position: relative;
        height: 100px;
        width: 100px;
      }
      &-text {
        margin-left: 30px;
        &-title {
          font-size: 28px;
          font-weight: 700;
          color: $color-white;
        }
        &-body {
          margin-top: 15px;
          font-size: 20px;
          font-weight: 300;
          color: $color-white;
        }
      }
    }
    &-btn {
      font-size: 24px;
      font-weight: 400;
      color: $color-primary;
      background-color: $color-white;
      border-radius: 10px;
      padding: 20px 30px;
      &:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      }
    }
  }
}

// responsive for PC
@include responsive_768 {
  .home {
    &-block1 {
      width: 100%;
      position: absolute;
      top: 0;
      &-video {
        width: 100%;
      }
      &-decription {
        position: absolute;
        width: 400px;
        top: 35%;
        left: 10%;
        &-title {
          font-size: 20px;
          font-weight: 600;
          color: $color-black;
          margin-bottom: 10px;
        }
        &-img {
          position: relative;
          width: 240px;
          height: 30px;
          margin: 15px 0;
        }
        &-intro {
          text-align: justify !important;
          font-size: 14px;
          // font-weight: 600;
          color: $color-black;
          line-height: 30px;
          &-hightlight {
            font-size: 14px;
            font-weight: 600;
            color: $color-primary;
          }
        }
      }
    }
    &-block2 {
      margin-top: 36vw;
      &-title {
        text-align: center;
        font-size: 18px;
        color: $color-black;
        letter-spacing: 6px;
        font-weight: 600;
        margin-bottom: 40px;
      }
      &-group {
        margin: 0 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-img {
          position: relative;
          height: 25px;
          width: 105px;
        }
      }
    }
    &-block3 {
      margin-top: 50px;
      &-title {
        text-align: center;
        margin-bottom: 20px;
        &-1 {
          font-size: 26px;
          font-weight: 600;
          color: $color-black;
        }
        &-2 {
          font-size: 30px;
          font-weight: 600;
          color: $color-primary;
          margin-left: 10px;
        }
      }
      &-description {
        text-align: center;
        width: 50%;
        margin: 0 auto 40px auto;
        line-height: 20px;
        font-size: 13px;
      }
      &-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 5%;
        &-item {
          width: 210px;
          // height: 500px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          border-radius: 10px;
          padding: 20px 20px 0 20px;
          &-logo {
            position: relative;
            height: 75px;
            width: 65px;
          }
          &-description {
            margin-top: 20px;
            font-size: 10px;
            font-weight: 500;
            color: $color-grey-dark;
          }
          &-title {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 600;
            color: $color-primary;
            margin-bottom: 10px;
          }
          &-content {
            margin-top: 5px;
            font-size: 12px;
            font-weight: 300;
            color: $color-black;
            line-height: 20px;
            text-align: justify;
            margin-bottom: 30px;
            min-height: 150px;
          }
          &-btn {
            text-align: center;
            background-color: $color-primary;
            width: 160px;
            margin: 0 auto;
            padding: 5px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            color: $color-white;
            font-size: 13px;
            &:hover {
              cursor: pointer;
              box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
          }
        }
      }
    }
    &-block4 {
      margin-top: 80px;
      background-image: url("/image/home_page/background_block_4.png"); /* The image used */
      height: 150vw; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      &-title {
        padding-top: 60px;
        width: 90%;
        margin: 0 auto;
        &-content {
          margin-top: 10px;
          font-size: 10px;
          font-weight: 300;
          color: $color-black;
          line-height: 20px;
          text-align: justify;
          // margin-top: 10px;
          &-hightlight1 {
            font-size: 14px;
            font-weight: 600;
            color: $color-primary;
          }
          &-hightlight2 {
            font-size: 14px;
            font-weight: 600;
            color: $color-black;
          }
        }
      }
      &-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 5%;
        &-img {
          position: relative;
          height: 200px;
          width: 275px;
        }
        &-content {
          max-width: 50%;
          &-title {
            font-size: 14px;
            font-weight: 600;
            color: $color-primary;
          }
          &-body {
            font-size: 10px;
            font-weight: 300;
            color: $color-black;
            text-align: justify;
            line-height: 20px;
            margin-top: 20px;
          }
        }
      }
    }
    &-block5 {
      background-image: url("/image/home_page/block5.png"); /* The image used */
      height: 16.78vw; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      &-main {
        // max-width: 800px;
        display: flex;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 3vw;
        &-icon {
          font-size: 12px;
          color: $color-white;
          margin: 0 20px;
          &-2 {
            font-size: 12px;
            color: $color-white;
            // margin: 0 20px;
            padding-top: 50px;
          }
        }
        &-text {
          font-size: 20px;
          font-weight: 800;
          color: $color-white;
          letter-spacing: 5px;
          font-family: "Beau Rivage", cursive;
          text-align: justify;
        }
      }
      &-sign {
        margin: 0px 10% 0 10%;
        text-align: right;
        font-size: 14px;
        font-weight: 300;
        color: $color-white;
      }
    }
    &-block6 {
      background-image: url("/image/home_page/block6.png"); /* The image used */
      height: 14.78vw;
      margin: 150px 5%; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &-main {
        display: flex;
        align-items: center;
        &-logo {
          position: relative;
          height: 60px;
          width: 60px;
        }
        &-text {
          margin-left: 15px;
          &-title {
            font-size: 14px;
            font-weight: 700;
            color: $color-white;
          }
          &-body {
            margin-top: 10px;
            font-size: 12px;
            font-weight: 300;
            color: $color-white;
          }
        }
      }
      &-btn {
        font-size: 18px;
        font-weight: 400;
        color: $color-primary;
        background-color: $color-white;
        border-radius: 10px;
        padding: 15px 20px;
        &:hover {
          cursor: pointer;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
      }
    }
  }
}

@include responsive_992 {
  .home {
    &-block1 {
      width: 100%;
      position: absolute;
      top: 0;
      &-video {
        width: 100%;
      }
      &-decription {
        position: absolute;
        width: 400px;
        top: 35%;
        left: 10%;
        &-title {
          font-size: 20px;
          font-weight: 600;
          color: $color-black;
          margin-bottom: 10px;
        }
        &-img {
          position: relative;
          width: 240px;
          height: 30px;
          margin: 15px 0;
        }
        &-intro {
          text-align: justify !important;
          font-size: 14px;
          // font-weight: 600;
          color: $color-black;
          line-height: 30px;
          &-hightlight {
            font-size: 14px;
            font-weight: 600;
            color: $color-primary;
          }
        }
      }
    }
    &-block2 {
      margin-top: 40vw;
      &-title {
        text-align: center;
        font-size: 18px;
        color: $color-black;
        letter-spacing: 6px;
        font-weight: 600;
        margin-bottom: 40px;
      }
      &-group {
        margin: 0 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-img {
          position: relative;
          height: 30px;
          width: 125px;
        }
      }
    }
    &-block3 {
      margin-top: 50px;
      &-title {
        text-align: center;
        margin-bottom: 20px;
        &-1 {
          font-size: 26px;
          font-weight: 600;
          color: $color-black;
        }
        &-2 {
          font-size: 30px;
          font-weight: 600;
          color: $color-primary;
          margin-left: 10px;
        }
      }
      &-description {
        text-align: center;
        width: 50%;
        margin: 0 auto 40px auto;
        line-height: 20px;
        font-size: 13px;
      }
      &-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 10%;
        &-item {
          width: 240px;
          // height: 500px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          border-radius: 10px;
          padding: 30px 30px 0 30px;
          &-logo {
            position: relative;
            height: 75px;
            width: 65px;
          }
          &-description {
            margin-top: 20px;
            font-size: 10px;
            font-weight: 500;
            color: $color-grey-dark;
          }
          &-title {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 600;
            color: $color-primary;
            margin-bottom: 10px;
          }
          &-content {
            margin-top: 5px;
            font-size: 12px;
            font-weight: 300;
            color: $color-black;
            line-height: 20px;
            text-align: justify;
            margin-bottom: 30px;
            min-height: 150px;
          }
          &-btn {
            text-align: center;
            background-color: $color-primary;
            width: 180px;
            margin: 0 auto;
            padding: 5px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            color: $color-white;
            font-size: 13px;
            &:hover {
              cursor: pointer;
              box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
          }
        }
      }
    }
    &-block4 {
      margin-top: 80px;
      background-image: url("/image/home_page/background_block_4.png"); /* The image used */
      height: 125vw; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      &-title {
        padding-top: 60px;
        width: 1000px;
        margin: 0 auto;
        &-content {
          margin: 10px 10% 0 10%;
          font-size: 12px;
          font-weight: 300;
          color: $color-black;
          line-height: 20px;
          text-align: justify;
          // margin-top: 10px;
          &-hightlight1 {
            font-size: 16px;
            font-weight: 600;
            color: $color-primary;
          }
          &-hightlight2 {
            font-size: 16px;
            font-weight: 600;
            color: $color-black;
          }
        }
      }
      &-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 10%;
        &-img {
          position: relative;
          height: 225px;
          width: 300px;
        }
        &-content {
          max-width: 50%;
          &-title {
            font-size: 16px;
            font-weight: 600;
            color: $color-primary;
          }
          &-body {
            font-size: 12px;
            font-weight: 300;
            color: $color-black;
            text-align: justify;
            line-height: 20px;
            margin-top: 20px;
          }
        }
      }
    }
    &-block5 {
      background-image: url("/image/home_page/block5.png"); /* The image used */
      height: 16.78vw; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      &-main {
        // max-width: 800px;
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 3.5vw;
        &-icon {
          font-size: 16px;
          color: $color-white;
          margin: 0 20px;
          &-2 {
            font-size: 16px;
            color: $color-white;
            // margin: 0 20px;
            padding-top: 50px;
          }
        }
        &-text {
          font-size: 30px;
          font-weight: 800;
          color: $color-white;
          letter-spacing: 5px;
          font-family: "Beau Rivage", cursive;
          text-align: justify;
        }
      }
      &-sign {
        margin: 0px 15% 0 15%;
        text-align: right;
        font-size: 18px;
        font-weight: 300;
        color: $color-white;
      }
    }
    &-block6 {
      background-image: url("/image/home_page/block6.png"); /* The image used */
      height: 14.78vw;
      margin: 150px 10%; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &-main {
        display: flex;
        align-items: center;
        &-logo {
          position: relative;
          height: 80px;
          width: 80px;
        }
        &-text {
          margin-left: 20px;
          &-title {
            font-size: 20px;
            font-weight: 700;
            color: $color-white;
          }
          &-body {
            margin-top: 10px;
            font-size: 13px;
            font-weight: 300;
            color: $color-white;
          }
        }
      }
      &-btn {
        font-size: 20px;
        font-weight: 400;
        color: $color-primary;
        background-color: $color-white;
        border-radius: 10px;
        padding: 15px 20px;
        &:hover {
          cursor: pointer;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
      }
    }
  }
}

@include responsive_1024 {
  .home {
    &-block1 {
      width: 100%;
      position: absolute;
      top: 0;
      &-video {
        width: 100%;
      }
      &-decription {
        position: absolute;
        width: 400px;
        top: 35%;
        left: 10%;
        &-title {
          font-size: 20px;
          font-weight: 600;
          color: $color-black;
          margin-bottom: 10px;
        }
        &-img {
          position: relative;
          width: 240px;
          height: 30px;
          margin: 15px 0;
        }
        &-intro {
          text-align: justify !important;
          font-size: 14px;
          // font-weight: 600;
          color: $color-black;
          line-height: 30px;
          &-hightlight {
            font-size: 14px;
            font-weight: 600;
            color: $color-primary;
          }
        }
      }
    }
    &-block2 {
      margin-top: 40vw;
      &-title {
        text-align: center;
        font-size: 18px;
        color: $color-black;
        letter-spacing: 6px;
        font-weight: 600;
        margin-bottom: 40px;
      }
      &-group {
        margin: 0 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-img {
          position: relative;
          height: 30px;
          width: 125px;
        }
      }
    }
    &-block3 {
      margin-top: 50px;
      &-title {
        text-align: center;
        margin-bottom: 20px;
        &-1 {
          font-size: 26px;
          font-weight: 600;
          color: $color-black;
        }
        &-2 {
          font-size: 30px;
          font-weight: 600;
          color: $color-primary;
          margin-left: 10px;
        }
      }
      &-description {
        text-align: center;
        width: 50%;
        margin: 0 auto 40px auto;
        line-height: 20px;
        font-size: 13px;
      }
      &-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 10%;
        &-item {
          width: 240px;
          // height: 500px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          border-radius: 10px;
          padding: 30px 30px 0 30px;
          &-logo {
            position: relative;
            height: 75px;
            width: 65px;
          }
          &-description {
            margin-top: 20px;
            font-size: 10px;
            font-weight: 500;
            color: $color-grey-dark;
          }
          &-title {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 600;
            color: $color-primary;
            margin-bottom: 10px;
          }
          &-content {
            margin-top: 5px;
            font-size: 12px;
            font-weight: 300;
            color: $color-black;
            line-height: 20px;
            text-align: justify;
            margin-bottom: 30px;
            min-height: 150px;
          }
          &-btn {
            text-align: center;
            background-color: $color-primary;
            width: 180px;
            margin: 0 auto;
            padding: 5px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            color: $color-white;
            font-size: 13px;
            &:hover {
              cursor: pointer;
              box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
          }
        }
      }
    }
    &-block4 {
      margin-top: 80px;
      background-image: url("/image/home_page/background_block_4.png"); /* The image used */
      height: 125vw; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      &-title {
        padding-top: 60px;
        width: 1000px;
        margin: 0 auto;
        &-content {
          margin: 10px 10% 0 10%;
          font-size: 12px;
          font-weight: 300;
          color: $color-black;
          line-height: 20px;
          text-align: justify;
          // margin-top: 10px;
          &-hightlight1 {
            font-size: 16px;
            font-weight: 600;
            color: $color-primary;
          }
          &-hightlight2 {
            font-size: 16px;
            font-weight: 600;
            color: $color-black;
          }
        }
      }
      &-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 10%;
        &-img {
          position: relative;
          height: 225px;
          width: 300px;
        }
        &-content {
          max-width: 50%;
          &-title {
            font-size: 16px;
            font-weight: 600;
            color: $color-primary;
          }
          &-body {
            font-size: 12px;
            font-weight: 300;
            color: $color-black;
            text-align: justify;
            line-height: 20px;
            margin-top: 20px;
          }
        }
      }
    }
    &-block5 {
      background-image: url("/image/home_page/block5.png"); /* The image used */
      height: 16.78vw; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      &-main {
        // max-width: 800px;
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 3.5vw;
        &-icon {
          font-size: 16px;
          color: $color-white;
          margin: 0 20px;
          &-2 {
            font-size: 16px;
            color: $color-white;
            // margin: 0 20px;
            padding-top: 50px;
          }
        }
        &-text {
          font-size: 30px;
          font-weight: 800;
          color: $color-white;
          letter-spacing: 5px;
          font-family: "Beau Rivage", cursive;
          text-align: justify;
        }
      }
      &-sign {
        margin: 0px 15% 0 15%;
        text-align: right;
        font-size: 18px;
        font-weight: 300;
        color: $color-white;
      }
    }
    &-block6 {
      background-image: url("/image/home_page/block6.png"); /* The image used */
      height: 14.78vw;
      margin: 150px 10%; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &-main {
        display: flex;
        align-items: center;
        &-logo {
          position: relative;
          height: 80px;
          width: 80px;
        }
        &-text {
          margin-left: 20px;
          &-title {
            font-size: 20px;
            font-weight: 700;
            color: $color-white;
          }
          &-body {
            margin-top: 10px;
            font-size: 13px;
            font-weight: 300;
            color: $color-white;
          }
        }
      }
      &-btn {
        font-size: 20px;
        font-weight: 400;
        color: $color-primary;
        background-color: $color-white;
        border-radius: 10px;
        padding: 15px 20px;
        &:hover {
          cursor: pointer;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
      }
    }
  }
}

@include responsive_1200 {
  .home {
    &-block1 {
      width: 100%;
      position: absolute;
      top: 0;
      &-video {
        width: 100%;
      }
      &-decription {
        position: absolute;
        width: 600px;
        top: 35%;
        left: 15%;
        &-title {
          font-size: 24px;
          font-weight: 600;
          color: $color-black;
        }
        &-img {
          position: relative;
          width: 478px;
          height: 61px;
          margin: 30px 0;
        }
        &-intro {
          text-align: justify !important;
          font-size: 18px;
          // font-weight: 600;
          color: $color-black;
          line-height: 32px;
          &-hightlight {
            font-size: 22px;
            font-weight: 600;
            color: $color-primary;
          }
        }
      }
    }
    &-block2 {
      margin-top: 42vw;
      &-title {
        text-align: center;
        font-size: 20px;
        color: $color-black;
        letter-spacing: 6px;
        font-weight: 600;
        margin-bottom: 40px;
      }
      &-group {
        margin: 0 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-img {
          position: relative;
          height: 30px;
          width: 125px;
        }
      }
    }
    &-block3 {
      margin-top: 60px;
      &-title {
        text-align: center;
        margin-bottom: 20px;
        &-1 {
          font-size: 30px;
          font-weight: 600;
          color: $color-black;
        }
        &-2 {
          font-size: 30px;
          font-weight: 600;
          color: $color-primary;
          margin-left: 10px;
        }
      }
      &-description {
        text-align: center;
        width: 50%;
        margin: 0 auto 60px auto;
        line-height: 24px;
        font-size: 14px;
      }
      &-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 10%;
        &-item {
          width: 300px;
          // height: 500px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          border-radius: 10px;
          padding: 30px 30px 0 30px;
          &-logo {
            position: relative;
            height: 108.5px;
            width: 94.5px;
          }
          &-description {
            margin-top: 30px;
            font-size: 12px;
            font-weight: 500;
            color: $color-grey-dark;
          }
          &-title {
            margin-top: 10px;
            font-size: 20px;
            font-weight: 600;
            color: $color-primary;
            margin-bottom: 0px;
          }
          &-content {
            margin-top: 5px;
            font-size: 13px;
            font-weight: 300;
            color: $color-black;
            line-height: 28px;
            text-align: justify;
            margin-bottom: 30px;
            min-height: 170px;
          }
          &-btn {
            text-align: center;
            background-color: $color-primary;
            width: 200px;
            margin: 0 auto;
            padding: 5px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            color: $color-white;
            &:hover {
              cursor: pointer;
              box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
          }
        }
      }
    }
    &-block4 {
      margin-top: 80px;
      background-image: url("/image/home_page/background_block_4.png"); /* The image used */
      height: 120vw; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      &-title {
        padding-top: 50px;
        width: 1000px;
        margin: 0 auto;
        &-content {
          font-size: 14px;
          font-weight: 300;
          color: $color-black;
          line-height: 24px;
          margin-top: 10px;
          &-hightlight1 {
            font-size: 18px;
            font-weight: 600;
            color: $color-primary;
          }
          &-hightlight2 {
            font-size: 18px;
            font-weight: 600;
            color: $color-black;
          }
        }
      }
      &-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 10%;
        &-img {
          position: relative;
          height: 270px;
          width: 360px;
        }
        &-content {
          max-width: 50%;
          &-title {
            font-size: 20px;
            font-weight: 600;
            color: $color-primary;
          }
          &-body {
            font-size: 14px;
            font-weight: 300;
            color: $color-black;
            text-align: justify;
            line-height: 30px;
            margin-top: 20px;
          }
        }
      }
    }
    &-block5 {
      background-image: url("/image/home_page/block5.png"); /* The image used */
      height: 16.78vw; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      &-main {
        // max-width: 800px;
        display: flex;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 3.5vw;
        &-icon {
          font-size: 18px;
          color: $color-white;
          margin: 0 20px;
          &-2 {
            font-size: 18px;
            color: $color-white;
            // margin: 0 20px;
            padding-top: 70px;
          }
        }
        &-text {
          font-size: 32px;
          font-weight: 800;
          color: $color-white;
          letter-spacing: 5px;
          font-family: "Beau Rivage", cursive;
          text-align: justify;
        }
      }
      &-sign {
        margin: 10px 15% 0 15%;
        text-align: right;
        font-size: 20px;
        font-weight: 300;
        color: $color-white;
      }
    }
    &-block6 {
      background-image: url("/image/home_page/block6.png"); /* The image used */
      height: 14.78vw;
      margin: 150px 10%; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &-main {
        display: flex;
        align-items: center;
        &-logo {
          position: relative;
          height: 100px;
          width: 100px;
        }
        &-text {
          margin-left: 30px;
          &-title {
            font-size: 28px;
            font-weight: 700;
            color: $color-white;
          }
          &-body {
            margin-top: 15px;
            font-size: 20px;
            font-weight: 300;
            color: $color-white;
          }
        }
      }
      &-btn {
        font-size: 24px;
        font-weight: 400;
        color: $color-primary;
        background-color: $color-white;
        border-radius: 10px;
        padding: 20px 30px;
        &:hover {
          cursor: pointer;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
      }
    }
  }
}
@include responsive_1440 {
  .home {
    &-block1 {
      width: 100%;
      position: absolute;
      top: 0;
      &-video {
        width: 100%;
      }
      &-decription {
        position: absolute;
        width: 600px;
        top: 35%;
        left: 15%;
        &-title {
          font-size: 24px;
          font-weight: 600;
          color: $color-black;
        }
        &-img {
          position: relative;
          width: 478px;
          height: 61px;
          margin: 30px 0;
        }
        &-intro {
          text-align: justify !important;
          font-size: 18px;
          // font-weight: 600;
          color: $color-black;
          line-height: 32px;
          &-hightlight {
            font-size: 22px;
            font-weight: 600;
            color: $color-primary;
          }
        }
      }
    }
    &-block2 {
      margin-top: 42vw;
      &-title {
        text-align: center;
        font-size: 20px;
        color: $color-black;
        letter-spacing: 6px;
        font-weight: 600;
        margin-bottom: 40px;
      }
      &-group {
        margin: 0 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-img {
          position: relative;
          height: 45px;
          width: 185px;
        }
      }
    }
    &-block3 {
      margin-top: 60px;
      &-title {
        text-align: center;
        margin-bottom: 20px;
        &-1 {
          font-size: 30px;
          font-weight: 600;
          color: $color-black;
        }
        &-2 {
          font-size: 30px;
          font-weight: 600;
          color: $color-primary;
          margin-left: 10px;
        }
      }
      &-description {
        text-align: center;
        width: 40%;
        margin: 0 auto 60px auto;
      }
      &-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 15%;
        &-item {
          width: 300px;
          // height: 500px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          border-radius: 10px;
          padding: 30px 30px 0 30px;
          &-logo {
            position: relative;
            height: 108.5px;
            width: 94.5px;
          }
          &-description {
            margin-top: 30px;
            font-size: 14px;
            font-weight: 500;
            color: $color-grey-dark;
          }
          &-title {
            margin-top: 10px;
            font-size: 24px;
            font-weight: 600;
            color: $color-primary;
            margin-bottom: 0px;
          }
          &-content {
            margin-top: 5px;
            font-size: 14px;
            font-weight: 300;
            color: $color-black;
            line-height: 28px;
            text-align: justify;
            margin-bottom: 30px;
            min-height: 196px;
          }
          &-btn {
            text-align: center;
            background-color: $color-primary;
            width: 200px;
            margin: 0 auto;
            padding: 5px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            color: $color-white;
            &:hover {
              cursor: pointer;
              box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
          }
        }
      }
    }
    &-block4 {
      margin-top: 80px;
      background-image: url("/image/home_page/background_block_4.png"); /* The image used */
      height: 115vw; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      &-title {
        padding-top: 50px;
        width: 1000px;
        margin: 0 auto;
        &-content {
          font-size: 16px;
          font-weight: 300;
          color: $color-black;
          line-height: 28px;
          margin-top: 10px;
          &-hightlight1 {
            font-size: 20px;
            font-weight: 600;
            color: $color-primary;
          }
          &-hightlight2 {
            font-size: 20px;
            font-weight: 600;
            color: $color-black;
          }
        }
      }
      &-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 15%;
        &-img {
          position: relative;
          height: 320px;
          width: 435px;
        }
        &-content {
          max-width: 45%;
          &-title {
            font-size: 26px;
            font-weight: 600;
            color: $color-primary;
          }
          &-body {
            font-size: 16px;
            font-weight: 300;
            color: $color-black;
            text-align: justify;
            line-height: 30px;
            margin-top: 20px;
          }
        }
      }
    }
    &-block5 {
      background-image: url("/image/home_page/block5.png"); /* The image used */
      height: 16.78vw; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      &-main {
        // max-width: 800px;
        display: flex;
        justify-content: center;
        margin-left: 15%;
        margin-right: 15%;
        padding-top: 3.5vw;
        &-icon {
          font-size: 20px;
          color: $color-white;
          margin: 0 20px;
          &-2 {
            font-size: 20px;
            color: $color-white;
            // margin: 0 20px;
            padding-top: 70px;
          }
        }
        &-text {
          font-size: 40px;
          font-weight: 800;
          color: $color-white;
          letter-spacing: 5px;
          font-family: "Beau Rivage", cursive;
          text-align: justify;
        }
      }
      &-sign {
        margin: 10px 15% 0 15%;
        text-align: right;
        font-size: 24px;
        font-weight: 300;
        color: $color-white;
      }
    }
    &-block6 {
      background-image: url("/image/home_page/block6.png"); /* The image used */
      height: 14.78vw;
      margin: 150px 15%; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &-main {
        display: flex;
        align-items: center;
        &-logo {
          position: relative;
          height: 100px;
          width: 100px;
        }
        &-text {
          margin-left: 30px;
          &-title {
            font-size: 28px;
            font-weight: 700;
            color: $color-white;
          }
          &-body {
            margin-top: 15px;
            font-size: 20px;
            font-weight: 300;
            color: $color-white;
          }
        }
      }
      &-btn {
        font-size: 24px;
        font-weight: 400;
        color: $color-primary;
        background-color: $color-white;
        border-radius: 10px;
        padding: 20px 30px;
        &:hover {
          cursor: pointer;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
      }
    }
  }
}
@include responsive_1650 {
  .home {
    &-block1 {
      width: 100%;
      position: absolute;
      top: 0;
      &-video {
        width: 100%;
      }
      &-decription {
        position: absolute;
        width: 600px;
        top: 35%;
        left: 15%;
        &-title {
          font-size: 24px;
          font-weight: 600;
          color: $color-black;
        }
        &-img {
          position: relative;
          width: 478px;
          height: 61px;
          margin: 30px 0;
        }
        &-intro {
          text-align: justify !important;
          font-size: 18px;
          // font-weight: 600;
          color: $color-black;
          line-height: 32px;
          &-hightlight {
            font-size: 22px;
            font-weight: 600;
            color: $color-primary;
          }
        }
      }
    }
    &-block2 {
      margin-top: 42vw;
      &-title {
        text-align: center;
        font-size: 20px;
        color: $color-black;
        letter-spacing: 6px;
        font-weight: 600;
        margin-bottom: 40px;
      }
      &-group {
        margin: 0 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-img {
          position: relative;
          height: 45px;
          width: 185px;
        }
      }
    }
    &-block3 {
      margin-top: 60px;
      &-title {
        text-align: center;
        margin-bottom: 20px;
        &-1 {
          font-size: 30px;
          font-weight: 600;
          color: $color-black;
        }
        &-2 {
          font-size: 30px;
          font-weight: 600;
          color: $color-primary;
          margin-left: 10px;
        }
      }
      &-description {
        text-align: center;
        width: 40%;
        margin: 0 auto 60px auto;
      }
      &-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 15%;
        &-item {
          width: 360px;
          // height: 500px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          border-radius: 10px;
          padding: 30px 30px 0 30px;
          &-logo {
            position: relative;
            height: 108.5px;
            width: 94.5px;
          }
          &-description {
            margin-top: 30px;
            font-size: 14px;
            font-weight: 500;
            color: $color-grey-dark;
          }
          &-title {
            margin-top: 10px;
            font-size: 24px;
            font-weight: 600;
            color: $color-primary;
            margin-bottom: 0px;
          }
          &-content {
            margin-top: 5px;
            font-size: 14px;
            font-weight: 300;
            color: $color-black;
            line-height: 28px;
            text-align: justify;
            margin-bottom: 30px;
          }
          &-btn {
            text-align: center;
            background-color: $color-primary;
            width: 200px;
            margin: 0 auto;
            padding: 5px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            color: $color-white;
            &:hover {
              cursor: pointer;
              box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
          }
        }
      }
    }
    &-block4 {
      margin-top: 80px;
      background-image: url("/image/home_page/background_block_4.png"); /* The image used */
      height: 105vw; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      &-title {
        padding-top: 50px;
        width: 1000px;
        margin: 0 auto;
        &-content {
          font-size: 16px;
          font-weight: 300;
          color: $color-black;
          line-height: 28px;
          margin-top: 10px;
          &-hightlight1 {
            font-size: 20px;
            font-weight: 600;
            color: $color-primary;
          }
          &-hightlight2 {
            font-size: 20px;
            font-weight: 600;
            color: $color-black;
          }
        }
      }
      &-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 15%;
        &-img {
          position: relative;
          height: 320px;
          width: 435px;
        }
        &-content {
          max-width: 45%;
          &-title {
            font-size: 26px;
            font-weight: 600;
            color: $color-primary;
          }
          &-body {
            font-size: 16px;
            font-weight: 300;
            color: $color-black;
            text-align: justify;
            line-height: 30px;
            margin-top: 20px;
          }
        }
      }
    }
    &-block5 {
      background-image: url("/image/home_page/block5.png"); /* The image used */
      height: 16.78vw; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      &-main {
        // max-width: 800px;
        display: flex;
        justify-content: center;
        margin-left: 15%;
        margin-right: 15%;
        padding-top: 5vw;
        &-icon {
          font-size: 22px;
          color: $color-white;
          margin: 0 20px;
          &-2 {
            font-size: 22px;
            color: $color-white;
            // margin: 0 20px;
            padding-top: 80px;
          }
        }
        &-text {
          font-size: 46px;
          font-weight: 800;
          color: $color-white;
          letter-spacing: 5px;
          font-family: "Beau Rivage", cursive;
          text-align: justify;
        }
      }
      &-sign {
        margin: 10px 15% 0 15%;
        text-align: right;
        font-size: 24px;
        font-weight: 300;
        color: $color-white;
      }
    }
    &-block6 {
      background-image: url("/image/home_page/block6.png"); /* The image used */
      height: 14.78vw;
      margin: 150px 15%; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &-main {
        display: flex;
        align-items: center;
        &-logo {
          position: relative;
          height: 100px;
          width: 100px;
        }
        &-text {
          margin-left: 30px;
          &-title {
            font-size: 28px;
            font-weight: 700;
            color: $color-white;
          }
          &-body {
            margin-top: 15px;
            font-size: 20px;
            font-weight: 300;
            color: $color-white;
          }
        }
      }
      &-btn {
        font-size: 24px;
        font-weight: 400;
        color: $color-primary;
        background-color: $color-white;
        border-radius: 10px;
        padding: 20px 30px;
        &:hover {
          cursor: pointer;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
      }
    }
  }
}
@include responsive_1900 {
  .home {
    &-block1 {
      width: 100%;
      position: absolute;
      top: 0;
      &-video {
        width: 100%;
      }
      &-decription {
        position: absolute;
        width: 600px;
        top: 35%;
        left: 15%;
        &-title {
          font-size: 24px;
          font-weight: 600;
          color: $color-black;
        }
        &-img {
          position: relative;
          width: 478px;
          height: 61px;
          margin: 30px 0;
        }
        &-intro {
          text-align: justify !important;
          font-size: 18px;
          // font-weight: 600;
          color: $color-black;
          line-height: 32px;
          &-hightlight {
            font-size: 22px;
            font-weight: 600;
            color: $color-primary;
          }
        }
      }
    }
    &-block2 {
      margin-top: 42vw;
      &-title {
        text-align: center;
        font-size: 20px;
        color: $color-black;
        letter-spacing: 6px;
        font-weight: 600;
        margin-bottom: 40px;
      }
      &-group {
        margin: 0 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-img {
          position: relative;
          height: 45px;
          width: 185px;
        }
      }
    }
    &-block3 {
      margin-top: 60px;
      &-title {
        text-align: center;
        margin-bottom: 20px;
        &-1 {
          font-size: 30px;
          font-weight: 600;
          color: $color-black;
        }
        &-2 {
          font-size: 30px;
          font-weight: 600;
          color: $color-primary;
          margin-left: 10px;
        }
      }
      &-description {
        text-align: center;
        width: 40%;
        margin: 0 auto 60px auto;
      }
      &-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 15%;
        &-item {
          width: 360px;
          // height: 500px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          border-radius: 10px;
          padding: 30px 30px 0 30px;
          &-logo {
            position: relative;
            height: 108.5px;
            width: 94.5px;
          }
          &-description {
            margin-top: 30px;
            font-size: 14px;
            font-weight: 500;
            color: $color-grey-dark;
          }
          &-title {
            margin-top: 10px;
            font-size: 24px;
            font-weight: 600;
            color: $color-primary;
            margin-bottom: 0px;
          }
          &-content {
            margin-top: 5px;
            font-size: 14px;
            font-weight: 300;
            color: $color-black;
            line-height: 28px;
            text-align: justify;
            margin-bottom: 30px;
          }
          &-btn {
            text-align: center;
            background-color: $color-primary;
            width: 200px;
            margin: 0 auto;
            padding: 5px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            color: $color-white;
            &:hover {
              cursor: pointer;
              box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            }
          }
        }
      }
    }
    &-block4 {
      margin-top: 80px;
      background-image: url("/image/home_page/background_block_4.png"); /* The image used */
      height: 90.45vw; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      &-title {
        padding-top: 50px;
        width: 1000px;
        margin: 0 auto;
        &-content {
          font-size: 16px;
          font-weight: 300;
          color: $color-black;
          line-height: 28px;
          margin-top: 10px;
          &-hightlight1 {
            font-size: 20px;
            font-weight: 600;
            color: $color-primary;
          }
          &-hightlight2 {
            font-size: 20px;
            font-weight: 600;
            color: $color-black;
          }
        }
      }
      &-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 15%;
        &-img {
          position: relative;
          height: 320px;
          width: 435px;
        }
        &-content {
          max-width: 45%;
          &-title {
            font-size: 26px;
            font-weight: 600;
            color: $color-primary;
          }
          &-body {
            font-size: 16px;
            font-weight: 300;
            color: $color-black;
            text-align: justify;
            line-height: 30px;
            margin-top: 20px;
          }
        }
      }
    }
    &-block5 {
      background-image: url("/image/home_page/block5.png"); /* The image used */
      height: 16.78vw; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      &-main {
        // max-width: 800px;
        display: flex;
        justify-content: center;
        margin-left: 15%;
        margin-right: 15%;
        padding-top: 5vw;
        &-icon {
          font-size: 22px;
          color: $color-white;
          margin: 0 20px;
          &-2 {
            font-size: 22px;
            color: $color-white;
            // margin: 0 20px;
            padding-top: 80px;
          }
        }
        &-text {
          font-size: 46px;
          font-weight: 800;
          color: $color-white;
          letter-spacing: 5px;
          font-family: "Beau Rivage", cursive;
          text-align: justify;
        }
      }
      &-sign {
        margin: 10px 15% 0 15%;
        text-align: right;
        font-size: 24px;
        font-weight: 300;
        color: $color-white;
      }
    }
    &-block6 {
      background-image: url("/image/home_page/block6.png"); /* The image used */
      height: 14.78vw;
      margin: 150px 15%; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &-main {
        display: flex;
        align-items: center;
        &-logo {
          position: relative;
          height: 100px;
          width: 100px;
        }
        &-text {
          margin-left: 30px;
          &-title {
            font-size: 28px;
            font-weight: 700;
            color: $color-white;
          }
          &-body {
            margin-top: 15px;
            font-size: 20px;
            font-weight: 300;
            color: $color-white;
          }
        }
      }
      &-btn {
        font-size: 24px;
        font-weight: 400;
        color: $color-primary;
        background-color: $color-white;
        border-radius: 10px;
        padding: 20px 30px;
        &:hover {
          cursor: pointer;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
      }
    }
  }
}
