/* Page */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "utmavo";
  src: url("/styles/utm-avo/utmavo.eot");
  src: local("utmavo"), url("/styles/utm-avo/utmavo.woff") format("woff"),
    url("/styles/utm-avo/utmavo.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
p {
  margin: 0;
  padding: 0;
}
.hide {
  // display: none;
  // animation-name: hide;
  // animation-duration: 2s;
  // animation-timing-function: ease;
  // // opacity: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.7s, opacity 1.5s ease;
}
.active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.7s, opacity 1.5s ease;
}

// @keyframes hide {
//   from {
//     display: block;
//   }
//   to {
//     display: none;
//   }
// }

::-webkit-scrollbar {
  display: none;
}
ol,
ul {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
