.footer {
  margin: 0 15%;
  &-wrap {
    display: flex;
  }
  &-block {
    width: 33%;
    &-img {
      &:hover {
        cursor: pointer;
      }
      position: relative;
      height: 64px;
      width: 273px;
    }
    &-description {
      margin-top: 30px;
      &-1 {
        text-align: justify;
        font-size: 20px;
        font-weight: 600;
        color: $color-primary;
        margin-right: 5px;
      }
      &-2 {
        text-align: justify;
        letter-spacing: 0.2px;
        line-height: 30px;
      }
    }
    &-social {
      margin-top: 30px;
      display: flex;
      &-img {
        position: relative;
        height: 30px;
        width: 30px;
        margin-right: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &-title {
      font-size: 20px;
      font-weight: 600;
      color: $color-primary;
    }
    &-menu {
      list-style: none;
      padding: 0;
      &-text {
        font-size: 16px;
        margin-top: 20px;
        &:hover {
          color: $color-primary;
          padding-left: 10px;
          cursor: pointer;
        }
      }
    }
  }
  &-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 20px;
    &-img {
      position: relative;
      height: 20px;
      width: 20px;
    }
    &-span1 {
      font-size: 14px;
      font-weight: 600;
      color: $color-primary;
      margin-left: 10px;
    }
    &-span2 {
      font-size: 14px;
      // font-weight: 600;
      color: $color-black;
      margin-left: 10px;
    }
  }
}
